*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    list-style-type: none;
}
h1{
    color: aliceblue;
    font-size: 3rem;
}
nav{
    height: 10px;
    color: white;
    padding: 10px;
    background-color: #000;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}